*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: #1d1b1b;
    color: white;
}
.navbar-container{
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 2% 5%;
}
.navbar-container ul{
    display: flex;
    gap: 30px;
    align-items: center;
}
.navbar-container ul li{
    list-style: none;
}
.btn-getstarted{
    background-color:#1d1b1b;
    padding: 7px 10px;
    border-radius: 5px;
    color: rgb(6, 117, 6);
    border-color: rgb(6, 117, 6) ;
}

.main-section{
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: 50% 50%;
    margin: 5% 12.5%;
    justify-content: center;
    align-content: center;
}
.sub-section1 h1{
    font-size: 60px;
    padding-left: 20px;
}
.sub-section2 p{
    padding: 5% 21%;
    font-size: 16px;
}
.court{
    width: 200%;
    height: auto;
    padding-top: -100px;
}
